<style type="text/css">
    .freelance {
        border: 1px var(--theme-color-foreground) solid;
        padding: 24px;
        margin: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .freelance__button {
        background-color: var(--theme-color-background) !important;
        color: var(--theme-color-foreground) !important;
        background-color: red;
        padding: 1em 1.5em;
        text-decoration: none !important;
        display: block;
        max-width: 50%;
        text-align: center;
        margin: 1em;
    }
</style>

<div class="freelance">
    <div>I am a freelancer and would love to help you!</div>
    <a href="mailto:philip@heltweg.org" class="freelance__button">EMAIL ME 👋</a>
</div>